header {
 position: absolute;
 top:0;
 right:0;
 border:solid;
 border-color: pink;
 height:500px;
}

#box{
	position: relative;
	top:-5px;
}
#images{
	position: relative;
	top:-15px;
}
#gmail{
	position: relative;
	top:-15px;
}

a{
	color:#737373;
	text-decoration: none;
}
img{
	border:dashed;
}
a:hover{
	text-decoration:underline;
}
#icon{
	position: absolute;

	top:220px;
	left:550px;
}
#input{
	position: absolute;
	width: 600px; height:2.5em;
	
	border: solid;
    border-width: 1px;
	border-color: #d3d1cf;

	top:350px; left:400px;
}

button{
	height: 3em; 
	background-color: #f1f1f1;
	border: none;
	color: #737373;
	margin-top: 410px;
}
.buttons{
	margin-left: 570px;

}
footer{
	position: absolute;
	background-color: #f2f2f2;
	
	height:50px; width: 100%;
	left:0;
	bottom:0px;
}
footer table{
    display: inline-block;
    margin-top: 10px;
    padding-right: 500px;
}
footer table td{
	color:#737373;
	padding-left: 25px;
	
}
footer #table2{
	padding-right: 25px;
	padding-left: 339px;
}



