body{
	position: absolute;
	top:0; bottom:0; right:0; left:0;
	min-width: 1024px; 
	min-height: 500px; 
	border:solid;
	border-color: red;
    font-size: 12px;

}

header, .middle, footer{
	position: relative;
	border:solid;
     margin:0 auto;
}

header{
     text-align: right;
     padding-right:20px; padding-top: 5px;
}
#box{
	position: relative;
	top:-10px;
	padding-right: 5px;
}
#bell{
	position: relative;
	top:-5px;
}
#images, #gmail{
	position: relative;
	top:-20px;
	padding-right: 15px;
}

.middle{
	border:dotted;
	margin-top: 12%;
	height:300px;
	text-align: center;
}
#input{
	position: relative;
	top:2em;
	min-height: 2em;
	min-width: 500px;
}
button{
	position: relative;
	top:60px;
    min-height:20px;
    min-width: 70px;
    padding: 10px;
    background-color: #f2f2f2;
    border:none;
    color:gray;
}

footer{
	position: absolute;
	bottom: 0;right:0;left:0;
	min-height: 35px;
	background-color: #f2f2f2;
	border:solid;
	border-width: 1px;
	border-color: #b3abab;
}
footer div{
	position: absolute;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 10px;
    bottom:0;
}
footer a{
	padding-left: 30px;
}
#table2{
	background-color: red;
	right:0;
	padding-right: 30px;
}
a{
	text-decoration: none;
	color:#474747;

}
a:hover{
	text-decoration: underline;
}
button:hover{
	border:solid;
	border-width: 1px;
}




